<div id='header' class='row justify-content-md-center'>
	<div class='col-12'>
		<h2>James Lee, Seattle-Based Developer</h2>
	</div>
</div>

<div class='row align-items-center' id='aboutMe'>
	<div class='justify-content-start' id='headshot'></div>
	<div class='col-12 col-lg-7' id='description'>
		<p>I am a passionate developer and coding bootcamp graduate focused on mastering industry-relevant technologies. I am seeking opportunities that will allow me to commit full-time hours in the tech industry to further grow as a developer.</p>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar arcu et turpis iaculis, mattis tempor purus viverra. Nam porta semper felis, et tempor mi. In sed dui nisl. Curabitur sed hendrerit augue. In nec pharetra neque. Donec eget mattis massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
	</div>
</div>