* {
/*	background-color: beige;*/
	margin: 0 auto;
	width: 95%;
}

h2 {
	color: rgb(36, 71, 143);
	font-weight: bold;
	font-size: 3rem;
}

#header {
	margin-bottom: 2rem;
}

#aboutMe {
/*	padding: 0px;*/
}

#headshot {
	display: inline-block;
	background-image: url('/assets/img/headshot.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 275px;
	width: 32rem;
	height: 32rem;
}

#description {
	padding-top: 5rem;
	display: inline-block;
	font-size: 1.2rem;
}