/* You can add global styles to this file, and also import other style files */
* {
	padding: 0px;
	margin: 0px;
	font-family: Verdana, sans-serif;
	text-align: center;
}

#container {
	display: inline-block;
	background-color: beige;
}