/* You can add global styles to this file, and also import other style files */
* {
	padding: 0px;
	margin: 0px;
	font-family: Montserrat, sans-serif;
	text-align: center;
}

.container-fluid {
	width: 100vw;
	display: inline-block;
/*	background-color: beige;*/
	height: 300vh;
}

