#logo {
	margin: -0.5px .4rem 4px 0px;
}

.navbar {
	padding: 0rem;
}

#header {
	background-color: rgb(36, 71, 143);
	box-shadow: 0px 5px 6px rgba(25, 25, 120, .6);
}

#headerName {
	font-size: 2.25rem;
	margin-left: 3.5rem;
}

#navbarSupportedContent {
	margin-right: 3.5rem;
}

.nav-item {
	margin: 0px .7rem;
	font-size: 1.4rem;
}

/*.btn-outline-primary, .btn-outline-primary:inactive, .btn-outline-primary:visited {
    background-color: rgb(36, 71, 143) !important;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: rgb(71, 117, 209) !important;
}*/